<!--Page for Creating a post for ngos:
    1: Select Requirements (Drop Down menu)
    2: Enter Details (Text)
-->

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NGOs</title>
       <!-- <link rel="stylesheet" href="/styles.css">     //  STYLING REQUIRED-->
</head>

<body>
    
  <div class="create-blog content">
    <!-- <form action="/blogs" method="POST"> -->
      <label for="title">Requirements: </label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Enter Details: </label>
      <input type="text" id="snippet" name="snippet" required>
      <button>Submit</button>
    </form>
  </div>

</body>
</html>